[client]
port= 3306
socket=/tmp/mysql.sock

[mysqld]
port=3306
user=mysql
socket=/tmp/mysql.sock
datadir=/local/mysql/data
tmpdir=/tmp
default-storage-engine=innodb
max_allowed_packet=4M
max_connections=50
#
thread_stack = 128K
thread_cache_size = 8
table_cache = 64
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 2M
#
transaction_isolation=read-committed
character-set-server=utf8
default-character-set=utf8
net_write_timeout=1800
wait_timeout=3600

# [Logging]
expire_logs_days=21
max_binlog_size=1024M
log-bin=/local/mysql/data/logs/mysql-bin-log
binlog_cache_size=2M
log=/local/mysql/data/logs/mysql.log
log-error=/local/mysql/data/logs/mysql-error-log
log-slow-queries=/local/mysql/data/logs/mysql-slow-queries.log
skip_locking

# [innodb]

innodb_file_per_table
innodb_buffer_pool_size=512M 
innodb_log_file_size=256M
innodb_flush_log_at_trx_commit=2

[mysqldump]
quick

[mysql]
no-auto-rehash

[mysqlhotcopy]
interactive-timeout
